<%- include partials/head.ejs %>


<div class="container">
  <div>
      <a href="#" style="float: right;">
          <span class="glyphicon glyphicon-shopping-cart my-cart-icon"> Cart
                  <span class="badge badge-notify my-cart-badge"></span>
              </span>
      </a>
    <hr>
  </div>
        <div class="card" >
            
   <% if (items.length > 0) {%>
  <div class="row">
        <% for(let item of items) { %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
          <div class="tile">
              <div class="">
                  <div class="cardtop" id="name"><%= item.Food_Name %></div>
                  
                  <div class="banner-img img">
                      <img src="/assets/img/<%= item.Image %>" alt="" >
                  </div>
                  <div class="dates">
                      <div>
                          <strong>Details:</strong> <%= item.Details %>
                      </div>
                      <div>
                          <strong>Price:</strong> <%= item.Price %>৳
                      </div>
                      <div>
                          <strong>Available for <%= item.Catagory_Name %></strong> <%= item.Availability %>
                      </div>
                  </div>
                  <button class="btn btn-danger my-cart-btn<%=item.Food_ID%>" data-id="<%=item.Food_ID%>" 
                    data-name="<%= item.Food_Name %>" data-summary="summary 1" data-price="<%= item.Price %>" 
                    data-quantity="1" data-image="/assets/img/<%= item.Image %>">Order</button>
                    <!-- <a onclick="addToCart('<%=item.Food_ID%>', '<%= item.Food_Name %>', '<%= item.Price %>', '1')" class="btn btn-primary">Order Now</a> -->
                  <br><br>
              </div>
          </div> 
      </div>

      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type='text/javascript' src="assets/jquery.mycart.js"></script>

<script type="text/javascript">
;(function($){

  var goToCartIcon = function($addTocartBtn){
    var $cartIcon = $(".my-cart-icon");
    var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
    $addTocartBtn.prepend($image);
    var position = $cartIcon.position();
    $image.animate({
      top: position.top,
      left: position.left
    }, 500 , "linear", function() {
      $image.remove();
    });
  }

  $('.my-cart-btn<%=item.Food_ID%>').myCart({
    classCartIcon: 'my-cart-icon',
    classCartBadge: 'my-cart-badge',
    classProductQuantity: 'my-product-quantity',
    classProductRemove: 'my-product-remove',
    classCheckoutCart: 'my-cart-checkout',
    affixCartIcon: true,
    showCheckoutModal: true,
    
    clickOnAddToCart: function($addTocart){
      goToCartIcon($addTocart);
    },
    clickOnCartIcon: function($cartIcon, products, totalPrice, totalQuantity) {
      console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
    },
    checkoutCart: function(products, totalPrice, totalQuantity, array) {
      console.log("checking out", products, totalPrice, totalQuantity);
      //console.log('checkout clicked home');
    }/*,
    getDiscountPrice: function(products, totalPrice, totalQuantity) {
      console.log("calculating discount", products, totalPrice, totalQuantity);
      return totalPrice * 1;
    }*/
  });

})(jQuery);
</script>  
      <% }; %>
  </div>
 
<% } else { %>
  <p class="text-center">No items found.</p>
<% } %>
 </div>
 
</div>
<br><br><br><br>
<%- include partials/foot %>

